/* Estilo en general*/
:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .nav a{
    margin:0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .nav a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
/* 
.header .items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .items-container .item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .items-container .item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .items-container .item .fa-times:hover{
    color: var(--main-color);
}

.header .items-container .item img{
    height: 7rem;
}

.header .items-container .item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .items-container .item .content .btn{
    font-size: 1rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .items-container .item .content .btn{
    display: inline-block;
    padding: 0.5rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.header .items-container .item .content .buy-btn:hover{
    letter-spacing: .2rem;
}
 */
section{
    padding: 2rem 7%;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0 ;
    color: #eee;
}

.head{
    text-align: center;
    color: #fff;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.head span{
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* Responsive */
.header .icon div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
   
    #menu-btn{
        display: inline-block;
    }

    .header .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .nav.active{
        right: 0;
    }

    .header .nav a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }
}

/* Estilo Imagen SVG */
.body-click{
    text-align: center;
}

.body-click h1{
    color: #fff;
    font-size: 3rem;
}

.body-click p{
    color: var(--main-color);
    font-size: 1rem;
}

.svg{
    width: 40%;
    margin: auto;
}

.svg path{
    fill:#EEEEEE;
    stroke:#000000;
    transition: fill 0.3s;
}

a :hover{
    fill: var(--main-color);
}
